[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/heads/*"]
	label-Approved = +0..+1 group Eng Managers
	label-Approved = +0..+1 group tungstenfabric-core
	label-Code-Review = -2..+2 group Eng Managers
	label-Code-Review = -2..+2 group tungstenfabric-core
	submit = group tungstenfabric-core
[access "refs/heads/stable/*"]
	label-Approved = +0..+1 group Eng Managers
	label-Approved = +0..+1 group tungstenfabric-core
	label-Code-Review = -2..+2 group Eng Managers
	label-Code-Review = -2..+2 group tungstenfabric-core
	labelAs-Approved = +0..+1 group tungstenfabric-core
	submit = group Eng Managers
	submit = group tungstenfabric-core
